.jumbotron {
  padding-top: 6rem;
  background-color: #a7c7e7;
}

#TPS {
  background-color: #a7c7e7;
}

#TKA {
  background-color: #a7c7e7;
}

#contact {
  background-color: #a7c7e7;
}

section {
  padding-top: 5rem;
}
